<h1>Listing menus</h1>

<ul id="menus" class="sortable" >
  <% @menus.each do |menu| %>
    <%= content_tag_for :li, menu, {:class => "menu_item ui-state-default col-xs-2", :data => {:update_url => menu_sort_url(menu)}} do %>
      <%= link_to menu.title, edit_menu_path(menu) %>
      <%= link_to 'Del', menu_path(menu), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-xs btn-danger' %>

      <%= content_tag_for :ul, menu, :submenus, :class => "sortable" do %>
        <%- if menu.leaf? %>
          <li />
        <%- else %>
          <% menu.children.each do |submenu| %>
            <%= content_tag_for :li, submenu, {:class => "submenu_item ui-state-default", :data => {:update_url => menu_sort_url(submenu)}} do %>
              <%= link_to submenu.title, edit_menu_path(submenu) %>
              <%= link_to 'Del', menu_path(submenu), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-xs btn-danger' %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</ul>

<div class="clearfix" />

<%= link_to 'New Menu', new_menu_path %>
