<%= simple_form_for AnfrageForm.new, :url => 'http://www.rolf-meier.ch/formmail.php', :validate => :validators, :method => :post, :html => {:class => 'form-vertical'} do |f| %>
  <%= f.hidden_field :redirect, :value => page_url("#{page.title.downcase}_ok") %>
  <%= f.hidden_field :recipient, :value => 'rolf' %>
  <%# f.hidden_field :recipient, :value => 'mario' %>
  <%# f.hidden_field :recipient_bcc, :value => 'mario' %>
  <%= f.hidden_field :recipient_bcc, :value => 'constantin' %>
  <%= f.hidden_field :subject, :value => "#{page.title.titleize}" %>

  <fieldset class='col-xs-6'>
    <%= f.input :nachname, :as => :string %>
    <%= f.input :vorname, :as => :string %>
  </fieldset>
  <fieldset class='col-xs-6'>
    <%= f.input :email, :as => :email, :placeholder => 'info@rolf-meier.ch', :label => 'eMail Adresse' %>
    <%= f.input :mitteilung, :as => :text, :input_html => {:rows => 5, :style => 'resize: none'} %>
  </fieldset>

  <div class='col-xs-12'>
    <%= f.submit 'Senden', :class => 'btn' %>
    <%#= submit_tag 'Zurücksetzen', :type => :reset, :class => 'btn btn-warning btn-sm' %>
  </div>
<% end %>

