<% content_for :content_header do %>
  <header>
    <%# change header not to have special page ending for form replies, like ..._ok or ..._error %>
    <h1><%= @page.title.gsub(/_.*$/, '').downcase %></h1>
  </header>
<% end %>

<% content_for :map_content_header do %>
  <header>
    <hgroup>
      <h1><%= @page.title.downcase %></h1>
      <%= link_to @page.address, "http://maps.google.ch/?daddr=#{@page.address}" %>
    </hgroup>
  </header>
<% end %>

<% content_for :slides do %>
  <%= render :partial => 'slides', :locals => { :page => @page, :num_pictures => 1 } %>
  <%= render :partial => 'slides', :locals => { :page => @page, :num_pictures => 2 } %>
  <%= render :partial => 'slides', :locals => { :page => @page, :num_pictures => 3 } %>
<% end %>

<% content_for :map do %>
  <%# gmaps4rails(@map) %>
  <%# gmaps(:map_options => {:container_class => 'map_container img-thumbnail img-responsive',
                             :language => 'de', :region => 'CH',
                             :auto_zoom => false, :zoom => 17,
                             :raw => '{mapTypeControlOptions: {position: google.maps.ControlPosition.RIGHT_BOTTOM}}'
                            },
            :markers => {:data => @map}
           ) %>
   <div id='map'>
   </div>
<% end %>

<% content_for :content do %>
  <div>
    <%= markdown(@page.content) %>
  </div>
<% end %>

<%= markdown(@page.short_text) %>

<% if @page.long_text? %>
  <%= link_to('#', html_options = { :rel => 'clickover',
              :title => @page.title.downcase + '<button type="button" id="close" class="close" data-dismiss="clickover">&times;</button>',
              :data => { :content => markdown(@page.long_text) }}) do %>
    weiterlesen...
  <% end %>
<% end %>

<div class='downloads'>
  <% @page.documents.each do |document| %>
    <% if document.file? %>
      <%= link_to(document.external_url, download: document.export_filename, target: '_blank') do %>
        <%= document.title %> <small>(<%= number_to_human_size(document.file.size) %>)</small>
      <% end %>
    <% end %>
    <% if document != @page.documents.last %>
      <br />
    <% end %>
  <% end %>
</div>
