<% content_for :content_header do %>
  <header>
    <%# change header not to have special page ending for form replies, like ..._ok or ..._error %>
    <h1><%= @page.title.gsub(/_.*$/, '').downcase %></h1>
  </header>
<% end %>

<% content_for :map_content_header do %>
  <header>
    <hgroup>
      <h1><%= @page.title.downcase %></h1>
      <%= link_to @page.address, "http://maps.google.ch/?daddr=#{@page.address}" %>
    </hgroup>
  </header>
<% end %>

<% content_for :slides do %>
  <div class='container-fluid'>
    <div class='row-fluid span12'>
      <div class='carousel slide' id='slide_show'>
        <div class='carousel-inner'>
          <ul class='item active thumbnails'>
            <% $i = 0 %>
            <% for picture in @page.pictures %>
              <li class='span6'>
                <%#= link_to(image_tag(picture.external_url(:thumb), :class => 'img-polaroid'), picture.external_url(:normal), :class => 'lb_gallery', :title => picture.title) %>
                <%= link_to(image_tag(picture.external_url(:thumb), :class => 'img-polaroid'), picture.external_url(:normal), :class => 'lb_gallery', :title => picture.export_filename) %>
              </li>
              <% $i += 1 %>
              <% if (($i % 2) == 0) and ($i < @page.pictures.count) %>
          </ul>
          <ul class='item thumbnails'>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :map do %>
  <%# gmaps4rails(@map) %>
  <%= gmaps(:map_options => {:container_class => 'map_container img-polaroid',
                             :language => 'de', :region => 'CH',
                             :auto_zoom => false, :zoom => 17,
                             :raw => '{mapTypeControlOptions: {position: google.maps.ControlPosition.RIGHT_BOTTOM}}'
                            },
            :markers => {:data => @map}
           ) %>
<% end %>

<% content_for :content do %>
  <div>
    <%= markdown(@page.content) %>
  </div>
<% end %>

<%= markdown(@page.short_text) %>

<% if @page.long_text? %>
  <%= link_to('#', html_options = { :rel => 'popover',
              :title => @page.title.downcase,
              :data => { :content => markdown(@page.long_text) }}) do %>
    weiterlesen...
  <% end %>
<% end %>

<div class='downloads'>
  <% @page.documents.each do |document| %>
    <% if document.file? %>
      <%= link_to(document.external_url, download: document.export_filename, target: '_blank') do %>
        <%= document.title %> <small>(<%= number_to_human_size(document.file.size) %>)</small>
      <% end %>
    <% end %>
    <% if document != @page.documents.last %>
      <br />
    <% end %>
  <% end %>
</div>
