<%- if(gallery_id > 0) %>
  <h4><%= link_to title, { :controller => 'galleries', :action => 'edit', :id => gallery_id } %></h4>
<%- else %>
  <h4><%= title %></h4>
<% end %>

<div class="row" >
  <div class="film col-xs-12" >
    <ul id="gallery_<%= gallery_id %>" class="gallery sortable" >
      <%- if pictures.empty? %>
        <li />
      <%- else %>
        <% pictures.each do |picture| %>
          <%= content_tag_for :li, picture, { :data => { :update_url => picture_sort_url(picture.id) } } do %>
            <%= render :partial => "pictures/picture", :locals => { :picture => picture, :image_version => :small } %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
